/* CSS declarations go here */
.auth {
	margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.menu-card {
	box-shadow: 3px 3px 2px #888888;
}

.menu-card .menu-image {
  height: 250px;
}

#topbar {
	background-color: #4e3318;
  margin-bottom: 24px;
}

#sidebar {
	background-color: #4e3318
}
