/* CSS declarations go here */
.menu-add-card {
	box-shadow: 3px 3px 2px #888888;
}

.menu-card .menu-image .menu-image-inner{
	height: 250px;
}

#topbar {
  margin-bottom: 24px;
}

#sidebar {
	background-color: #4e3318;
}
